		</main>
		<footer class="navbar col-8 col-mx-auto">
			<section class="navbar-section">
				<a href="..." class="btn btn-link">Footer</a>
			</section>
		</footer>
		<script src="js/script.min.js"></script>
	</body>
</html>