		</main>
		<footer class="navbar col-10 col-mx-auto">
			<a href="..." class="btn btn-link"><i class="github fab fa-github-square"></i>By DCCA<i></a>
		</footer>
		<script src="js/script.min.js"></script>
	</body>
</html>