<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Movie App</title>
	<!-- Style -->
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/stylesheet.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css"> 
	<!-- Scripts -->
	<script src="https://kit.fontawesome.com/128faf0ecb.js" crossorigin="anonymous"></script>
  </head>
  <body>
	  <main class='container'>
		<header class="navbar col-10 col-mx-auto">
			<div class="dropdown">
				<a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
    				<i class="icon icon-caret fas fa-bars"></i>
 				</a>
			  <!-- menu component -->
			  <ul class="menu">
				<a href="/" class="btn btn-link dropdown-toggle">Home</a>
				<a href="/movie-detail" class="btn btn-link dropdown-toggle">Movie Detail</a>
			  </ul>
			</div>
		</header>