<%- include('./partials/header'); -%>

<h1>
	Welcome to the Movie App hp!
</h1>

<form>
	Search: <input type="text" name="searchTerm"><br>	
	<input type="submit" value="Submit">
</form>


<%- include('./partials/footer'); -%>