<%- include('./partials/header'); -%>

<section class='search-section'>
	<img class='logo' src='assets/movie-app-logo.png'>
	<form class='form-box' action='/result' method='GET' class="">
		<label>Search for your movie:</label>
		<input class="search-box" type="text" placeholder="movie tittle" name='search'>
		<input class="search-button" type='submit' value='Search'>
	</form>
</section>

<%- include('./partials/footer'); -%>